h2{
    color: white;
    margin: 10px;
    font-size: 20px;
}

#kwadraty{
    width: 400px;
    height: 600px;
    background: gray;
}

.kwadrat {
    width: 100px;
    height: 100px;
    background: orange;
    margin: 15px;
}