h2{
    color: white;
    margin: 10px;
    font-size: 20px;
}

#Kwadraty{
    width: 400px;
    height: 600px;
    background: gray;
}

.kwadrat1 {
    width: 100px;
    height: 100px;
    background: orange;
    margin: 15px;
}

.kwadrat2 {
    width: 100px;
    height: 100px;
    background: orange;
    margin: 15px;
}

.kwadrat3 {
    width: 100px;
    height: 100px;
    background: orange;
    margin: 15px;
}

.kwadrat4 {
    width: 100px;
    height: 100px;
    background: orange;
    margin: 15px;
}